path.data: {{ elasticsearch_data_path }}
path.logs: {{ elasticsearch_logs_path }}
network.host: {{ elasticsearch_network_host }}
http.port: {{ elasticsearch_http_port }}
discovery.type: {{ elasticsearch_discovery_type }}
